click==8.2.1
deepforest==1.5.2
GDAL==3.7.0
gdown==5.2.0
geopandas==1.0.1
gpxpy==1.6.2
ipython==8.12.3
numpy==2.2.6
opencv_python==4.11.0.86
opencv_python_headless==4.11.0.86
osmnx==2.0.5
pandas==2.3.1
pyproj==3.7.0
python-dotenv==1.1.1
PyYAML==6.0.2
rasterio==1.4.3
Requests==2.32.4
scipy==1.15.3
segment_anything==1.0
Shapely==2.1.1
startinpy==0.12.1
torch==2.6.0
tqdm==4.67.1
